<section ng-controller="RequestsController" ng-init="find()">
    <div class="page-header">
        <div class="row">
            <div class="col-md-4">
                <h1>My Requests</h1>
            </div>
            <div class="col-md-4" style="margin-top: 2em">
                <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
            </div>
            <div class="col-sm-2" style="margin-top: 2em; width: 135px; float: right">
                <button class="form-control btn-info" style="width: 130px">
                    <span class="glyphicon glyphicon-sort"> </span> Sort by Date
                </button>
            </div>
            <div class="col-sm-2" style="margin-top: 2em; width: 135px; float: right ">
                <button class="form-control btn-info" style="width: 130px">
                    <i class="glyphicon glyphicon-sort"></i>
                    Sort by <i class="glyphicon glyphicon-usd"></i> 
                </button>
            </div>
        </div>
    </div>
    <div class="list-group">
        <a ng-repeat="request in requests"
           ng-show="authentication.user._id === request.user._id"
           ui-sref="requests.view({ requestId: request._id })"
           class="list-group-item">

            <h4 class="list-group-item-heading" ng-bind="request.title"></h4>
            <b>$$Bounty$$</b>: {{request.bounty}}
            <p class="list-group-item-text" ng-bind="request.content"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="requests.$resolved && !requests.length">
        You have not made any Request yet! <a ui-sref="requests.create">create one</a>?
    </div>
</section>
