<section>
  <div class="page-header">
    <h1>Testmodules</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="testmodule in vm.testmodules"
       ui-sref="testmodules.view({ testmoduleId: testmodule._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="testmodule.created | date:'mediumDate'"></span>
        by
        <span ng-if="testmodule.user" ng-bind="testmodule.user.displayName"></span>
        <span ng-if="!testmodule.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="testmodule.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.testmodules.$resolved && !vm.testmodules.length">
    No Testmodules yet, why don't you <a ui-sref="testmodules.create">create one</a>?
  </div>
</section>
