<section ng-controller="MembersController" ng-init="find()">
    <div class="page-header">
        <div class="row">
            <div class="col-md-4">
                <h1>List Forum Members</h1>
            </div>
            <div class="col-md-4" style="margin-top: 2em">
                <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" />
            </div>
            <div class="col-sm-2" style="margin-top: 2em; width: 135px; float: right">
             <button class="form-control btn-info" style="width: 130px">
                    <span class="glyphicon glyphicon-sort"> </span> Sort by Name
                </button>
            </div>
        </div>
    </div>
    
    <div class="list-group">
    <a ng-repeat="member in members |filter : search" ui-sref="admin.user({userId: user._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="member.username"></h4>
      <p class="list-group-item-text pull-right small" >Online</p>
      <br>
      <p class="list-group-item-text pull-right small" >Offline</p>
      <p class="list-group-item-text" ng-bind="member.email"></p>
    </a>
  </div>
</section>
